#sponsors-wrapper {
  display: flex;
  width: 100%;
  padding: 60px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.slider {
  height: auto;
  padding: 60px 0px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
  background: linear-gradient(249deg, #59ffb9 -31.85%, #326cff 101.31%);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slider .slide {
  width: 291px;
  height: 144px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}

.slider-2 {
  background: #000;
  display: flex;
  justify-content: center;
}

.slide-track-2 {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}
