nav {
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.5) !important;
  backdrop-filter: blur(25px);
}

.wrapper-navbar {
  display: flex;
  justify-content: space-between !important;
  background-color: palegreen;
  width: 100%;
}

.menu {
  background-color: bisque;
  width: 200px !important;
}

nav .registrasi {
  background: var(
    --primary-gradient,
    linear-gradient(258deg, #59ffb9 0%, #326cff 100%)
  );
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

nav button a {
  color: #fff !important;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 51px !important;
  flex: 1 0 0;
}

.navbar-nav .nav-item {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.navbar-nav .nav-item a {
  color: #212427 !important;
  font-weight: 600;
}

@media screen and (max-width: 468px) {
  .navbar-nav {
    gap: 12px !important;
  }
}
